# http://www.gnu.org/software/automake

Makefile.in
Makefile

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/.libs
/.deps
.libs/
.deps/
*.so
*.o
*.la
*~
*.lo
config.log
stamp-h1
config.h
config.status
